<!DOCTYPE html>
<html>
<head>
  <title>Gerenciamento de Usuários</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Gerenciamento de Usuários</h1>
    <p>Bem-vindo! Escolha uma opção abaixo:</p>

    <ul>
      <li><a href="/criar">Cadastrar novo usuário</a></li>
      <li><a href="/buscar">Listar usuários</a></li>
    </ul>
  </div>
</body>
</html>
